/* BOOTSTRAP OVERWRITE */
.navbar {
  .navbar-brand {
    color: $text-color;
    line-height: 1.45rem;
  }
  .nav-item {
    .nav-link {
      font-size: 18px;
      color: $text-color;
      transition: color 300ms ease-in-out;
      &:hover {
        color: $primary-color;
      }
    }
  }
}



