.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  }
}

.btn-outline-primary {
  border-color: $primary-color;
  color: $primary-color;
  &:hover {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  }
}

.btn-outline-secondary {
  border-color: $secondary-color;
  color: $secondary-color;
  &:hover {
    background-color: $secondary-color-dark;
    border-color: $secondary-color-dark;
  }
}